.header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding:$m-size;
}

.header__title {
    color: $light-gray;
    margin-left: 10%;
    letter-spacing: 5px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 7rem;
    
    
}