html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(95deg, $off-black, 60%, $dark-green);
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    color: white;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}